
<IfModule mod_rewrite.c>

	
	RewriteEngine on
	RewriteCond %{HTTP_HOST} ^!(www\.o2o\.haojilai\.cn)(:80)? [NC]
	RewriteRule ^(.*) http://o2o.haojilai.cn/$1 [R=301,L]
	order deny,allow

</IfModule>

