@charset "utf-8";
/* CSS Document */
html{height: 100%;}
.footer{width:100%; height:auto; min-width:1200px; margin-top:15px; position: absolute;left:0;bottom:0;background: #fff;}
.foot-icon{display: inline-block;width: 38px; height: 38px; background: url(../images/foot-service-icon.png) no-repeat;}
.foot-icon-user{background-position: 0px 0px;}
.foot-icon-service{background-position:-42px 0px;}
.foot-icon-pay{background-position:-84px 0px;}
.foot-icon-love{background-position:0px -42px;}
.foot-icon-set{background-position:-42px -42px;}
.foot-icon-cooperate{background-position:-84px -42px;}
.foot-service-box{border: 1px solid #ececec; margin: 10px 0; padding: 20px;}
.foot-service-list{padding-left:42px;width: 120px; margin:5px 15px;}
.foot-service-list dt{height:32px; line-height: 32px; font-size:16px; color: #686868; position: relative;}
.foot-service-list dt>i{width:38px; height: 38px; position: absolute; left:-42px; top: 0px;}
.foot-service-list dd{height:24px; line-height: 24px; color: #555555;}
.foot-service-list dd a{display: inline-block; color: #555555;}
.foot-service-list dd a:hover{color: #d0312f;}
.foot-service-list dd a>b{display: inline-block; margin-right: 3px;}
.foot-menu{width:auto; height:30px; line-height:30px; background:#cf312e; text-align:center; color:#fff; margin-top:10px;}
.foot-menu a{width:auto; display:inline-block; margin:0px 5px; color:#fff;}
.foot-cpyInfo{width:auto; margin-top:15px; text-align:center; color:#4d4c4c;}
.foot-cpyInfo p{width:auto; line-height:1.8;}
.foot-cpyInfo p a{display:inline-block; margin:0px 5px;}
